version: "3.8"

services:
  flask:
    restart: unless-stopped
    image: python:3.11-slim
    volumes:
      - ./app:/app
    working_dir: /app
    command: sh -lc "pip install --no-cache-dir flask==3.1.2 && python app.py"

  nginx:
    restart: unless-stopped
    image: nginx:stable
    ports:
      - "8443:8443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
